.rotate {
	animation: rotate infinite 2.4s linear;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.move-fish {
	transform: translate(42.5vw, 47.5vh);
}

.fadeInFromLeft {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	position: relative;
	animation: fadeInFromLeft 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft {
	from {
		right: 10rem;
		opacity: 0;
	}
	to {
		right: 0rem;
		opacity: 1;
	}
}

.fadeInFromRight {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	position: relative;
	animation: fadeInFromRight 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeInFromRight {
	from {
		left: 100%;
		opacity: 0;
	}
	to {
		left: 0rem;
		opacity: 1;
	}
}

.fadeInFromBottom {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	position: relative;
	animation: fadeInFromBottom 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeInFromBottom {
	from {
		top: 10rem;
		opacity: 0;
	}
	to {
		top: 0rem;
		opacity: 1;
	}
}

.fadeInFromTop {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	position: relative;
	animation: fadeInFromTop 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeInFromTop {
	from {
		bottom: 10rem;
		opacity: 0;
	}
	to {
		bottom: 0rem;
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
	position: relative;
	animation: fadeIn 4s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

