.news-list {
	background-image: url(https://i.imgur.com/Dhl2sbk.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.stripe {
	left: 25%;
	width: 4rem;
}

/* Add this to start the animation when the component mounts */
.stripe {
	animation: moveStripe 0.5s forwards;
}

@keyframes moveStripe {
	to {
		left: 50%;
	}
}

